.contenedor {
  width: 100%;
}
.contenedor .contenedor1 {
  width: 95%;
  background-color: white;
  padding: 2.5%;
  overflow: auto;
  display: flex;
  justify-content: space-between;
}
.contenedor .Izquierda {
  width: 20%;
}
.Izquierda .imagen01 img {
  width: 70%;
  margin-top: 25%;
}
.Izquierda .imagen02 img {
  width: 70%;
  margin-top: 25%;
  border-radius: 20px;
}
.Izquierda .imagen03 img {
  width: 70%;
  margin-top: 25%;
  border-radius: 20px;
}
.contenedor1 .central {
  width: 40%;
  padding: 5%;
}
.contenedor1 .central img {
  width: 100%;
  border-radius: 20px;
}
.contenedor1 .central .circulos {
  display: flex;
  width: 25%;
  transform: translateX(160%);
  justify-content: center;
}
.contenedor1 .central .circulos .dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #000;
  margin: 5px;
  background-color: #fff;
  cursor: pointer;
}
.contenedor1 .central .circulos .dot.active {
  background-color: #000;
}
.contenedor1 .Derecha {
  width: 40%;
  float: right;
}
.Derecha .Titulo h2 {
  text-align: center;
  margin-top: 5%;
}
.Derecha .Marca h4 {
  text-align: left;
  margin-top: 15%;
}
.Derecha .P_T_C {
  width: 100%;
  overflow: auto;
  text-align: center;
}
.Derecha .P_T_C .Precio {
  width: 100%;
  margin-top: 5%;
}
.Derecha .P_T_C .Precio .p1 {
  width: 50%;
}
.P_T_C .Precio .p1 {
  float: left;
}
.Derecha .P_T_C .Precio .p2 {
  width: 50%;
}
.P_T_C .Precio .p2 {
  float: right;
}
.Derecha .P_T_C .share {
  width: 100%;
}
.P_T_C .share .Compartir {
  width: 50%;
}
.P_T_C .share .Compartir h3 {
  float: left;
}
.P_T_C .share .Imagen {
  width: 50%;
}
.P_T_C .share .Imagen img {
  width: 5%;
}
.Derecha .C_A {
  width: 100%;
}
.Derecha .C_A .Cantidades {
  width: 100%;
}
.Derecha .C_A .Cantidades .btncantidad {
  width: 50%;
  padding: 5% 25%;
  text-align: center;
}
.Derecha .C_A .Cantidades .btncantidad input {
  width: 50%;
  margin-top: 5%;
  background-color: #d9d9d9;
  border: 5px solid #d9d9d9;
  border-radius: 20px;
  text-align: center;
}
.Derecha .C_A .Cantidades .btncantidad a {
  width: 44px;
  text-align: center;
  font-size: 20px;
  padding-left: 8px;
  padding-right: 8px;
  text-decoration: none;
}

/*btn agregar carrito*/
.Derecha .Agregar {
  width: 100%;
  padding-top: 10%;
  text-align: center;
}
.Derecha .Agregar input {
  font-size: 20px;
  text-decoration: none;
  padding: 10px 50px;
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
  color: #ffffff;
  cursor: pointer;
}
.Derecha .Descuento {
  margin-top: 10%;
  cursor: pointer;
  background-color: #d9d9d9;
  border: 5px solid #d9d9d9;
  border-radius: 20px;
}
.Derecha .Descuento p {
  text-align: center;
}
.Derecha .Ventas {
  margin-top: 10%;
  width: 100%;
}

/*RESPONSIVE * abra imagenes como imagen01,imagne02,imagen03 seran oclutadas en el responsive de 360*/

@media only screen and (max-width: 360px) {
  html,
  body {
    overflow-x: hidden;
  }
  .contenedor .contenedor1 {
    flex-direction: column;
    width: 95%;
    background-color: white;
    padding: 2.5%;
    overflow-x: hidden;
    display: flex;
    justify-content: space-between;
  }

  .contenedor .Izquierda {
    order: 1;
    width: 100%;
    text-align: center;
  }

  .Izquierda .imagen01 img,
  .Izquierda .imagen02 img,
  .Izquierda .imagen03 img {
    display: none;
  }

  .contenedor1 .central {
    order: 2;
    width: 100%;
    text-align: center;
  }

  .contenedor1 .central .circulos {
    margin-top: 5%;
  }

  .contenedor1 .Derecha {
    order: 3;
    width: 100%;
    float: none;
    text-align: center;
  }

  .Derecha .Titulo h2 {
    text-align: center;
    margin-top: 5%;
  }

  .Derecha .Marca h4 {
    text-align: center;
    margin-top: 15%;
  }

  .Derecha .P_T_C {
    text-align: center;
  }

  .Derecha .P_T_C .Precio .p1,
  .Derecha .P_T_C .Precio .p2 {
    width: 100%;
  }

  .Derecha .P_T_C .share .Compartir,
  .Derecha .P_T_C .share .Imagen {
    width: 100%;
    margin-top: 5%;
  }

  .Derecha .C_A .Cantidades .btncantidad {
    width: 100%;
    padding: 5% 0;
    text-align: center;
  }

  .Derecha .C_A .Cantidades .btncantidad input {
    width: 70%;
    margin-top: 5%;
  }
  .Derecha .Agregar {
    padding-bottom: 10%;
    margin: auto;
  }
}
