/*cONTENIDO*/
.crear_cuenta h1 {
  text-align: center;
  padding: 3% 0;
}
.crear_cuenta {
  width: 100%;
  text-align: center;
}
.crear_cuenta p {
  width: 100%;
  padding: 2% 0;
}
.crear_cuenta input {
  width: 40%;
  height: 40px;
  border-radius: 10px;
}

.crear_cuenta .contenedor {
  padding-left: 10%;
  padding-right: 10%;
}
/*btn */
.crear_cuenta .ini_crear {
  width: 100%;
  padding: 3.3% 0;
}
.crear_cuenta .ini_crear h3 {
  padding: 1% 0;
}
.crear_cuenta .ini_crear h3 a {
  text-decoration: none;
  font-size: large;
  color: black;
}

.crear_cuenta .ini_crear .iniciar_sesion a {
  text-align: center;
  padding: 1% 0;
}
.crear_cuenta .ini_crear .iniciar_sesion a input {
  width: 20%;
  cursor: pointer;
}
.error {
  width: 100%;
  color: red;
  text-align: center;
}
@media only screen and (max-width: 360px) {
  .crear_cuenta h1 {
    margin: 5% 0;
    font-size: 40px;
  }

  .crear_cuenta .contenedor {
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
  }
  .crear_cuenta .contenedor p {
    margin: 8% 0;
  }
  .crear_cuenta input {
    width: 100%;
    height: 40px;
    border-radius: 10px;
  }
  .crear_cuenta .iniciar_sesion {
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 5%;
  }
  .crear_cuenta .ini_crear .iniciar_sesion a input {
    width: 100%;
    height: 40px;
    border-radius: 10px;
  }
  .crear_cuenta .ini_crear h3 {
    margin: 5% 0;
  }
  .crear_cuenta .ini_crear .btncreacu {
    margin-bottom: 40%;
  }
}
