.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}
.recuperar {
  width: 70%;
  padding: 9% 10%;
  min-height: 50vh;
}

.recuperar .texto {
  text-align: center;
  padding: 2% 0;
}
.recuperar .texto h2 {
  font-size: 30px;
}

.recuperar form {
  width: 50%;
  margin: 0 auto;
}

.recuperar form p {
  margin-bottom: 5%;
}
.recuperar input[type="email"] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.recuperar input[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #000000;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px; /* Espacio superior */
  margin-bottom: 10px; /* Espacio inferior */
}

.recuperar a {
  color: #333;
  text-decoration: none;
  text-align: center;
}

/* RESPONSIVE */
@media only screen and (max-width: 1240px) {
  /* Resto de estilos */
  .recuperar {
    width: 100%;
    height: 100%vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
  }

  .recuperar .texto {
    width: 100%;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
  }

  .recuperar form {
    width: 50%;
    padding: 10px 0;
    margin: 0 auto;
    box-sizing: border-box;
  }

  .recuperar input[type="email"],
  .recuperar input[type="submit"] {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
  }

  .recuperar a {
    width: 100%;
    text-align: center;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 850px) {
  .recuperar form {
    width: 90%;
    margin: 0 auto;
  }
}
