.contenido {
  width: 70%;
  margin: auto;
  text-align: center;
  height: 100vh;
}
.contenido h1 {
  margin: 5% 0;
  font-size: 50px;
}
.contenido .text {
  width: 100%;
  text-align: center;
}
.contenido .text p {
  font-size: 40px;
  text-align: center;
}
.contenido .imagen {
  width: 50%;
  margin: auto;
}
.contenido .imagen img {
  width: 200px;
  height: 200px;
}
@media screen and (max-width: 860px) {
  .contenido {
    width: 95%;
    padding: 2.5%;
  }
  .contenido .text p {
    text-align: center;
    font-size: 40px;
  }
  .contenido h1 {
    font-size: 40px;
  }
}
@media screen and (max-width: 600px) {
  .contenido .imagen {
    width: 95%;
    padding: 2.5%;
    margin: 10px 0;
  }
  .contenido .text p {
    text-align: justify;
    font-size: 30px;
  }
}

@media screen and (max-width: 360px) {
  .contenido {
    width: 95%;
    padding: 2.5%;
  }
  .contenido .text p {
    text-align: justify;
    font-size: 28px;
  }
  .contenido .imagen {
    width: 95%;
    padding: 2.5%;
  }
  .contenido h1 {
    font-size: 30px;
  }
}
