.c_contacto {
  width: 100%;
  min-height: 100vh;
}
.c_contacto .contenido {
  width: 70%;
  padding-top: 5%;
  padding-bottom: 2%;
  padding-left: 15%;
  padding-right: 15%;
}
.c_contacto .contenido h3 {
  font-size: 60px;
  margin: 15px 0;
}
.c_contacto .contenido p {
  font-size: 25px;
  margin: 40px 0;
  text-align: justify;
}
.c_contacto .boton {
  text-align: center;
  width: 96%;
  padding-top: 2.4%;
  padding-bottom: 5%;
  padding-left: 2%;
  padding-right: 2%;
}
.c_contacto .boton a {
  font-size: 20px;
  background-color: black;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  text-decoration: none;
  border-radius: 10px;
}
.c_contacto .boton a:hover {
  background-color: #ffffff;
  color: #000000;
  border: solid 4px #000000;
}
@media screen and (max-width: 600px) {
  .c_contacto .contenido h3 {
    font-size: 40px;
    text-align: center;
  }
}
@media screen and (max-width: 360px) {
  .c_contacto .contenido {
    width: 95%;
    padding: 2.5%;
  }
  .c_contacto .contenido h3 {
    font-size: 28px;
    text-align: center;
  }
  .c_contacto .boton {
    margin: 8% 0;
  }
  .c_contacto .contenido p {
    font-size: 25px;
  }
}
