.contenedor {
  width: 100%;
}
.contenedor .contenedor2 {
  width: 95%;
  padding: 2.5%;
  overflow: auto;
}
.contenedor .tg_confi {
  width: 80%;
  padding-right: 10%;
  padding-left: 10%;
  padding-bottom: 2.5%;
  overflow: auto;
}
.contenedor .tg_confi .titu_conf {
  width: 50%;
  float: left;
}
.contenedor .tg_confi .btnCerrarSesion {
  width: 50%;
  float: right;
  text-align: end;
  height: 50px;
}
.contenedor .tg_confi .btnCerrarSesion a {
  line-height: 50px;
  text-decoration: none;
  padding: 10px 20px;
  background-color: #000000;
  color: #ffffff;
  border-radius: 10px;
  font-size: 20px;
}
.contenedor .tg_confi .titu_conf h3 {
  font-size: 40px;
}

.contenedor .t_confi {
  width: 40%;
  float: left;
}
.contenedor .t_confi .dt_confi {
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
}
.contenedor .t_confi .dt_confi ul {
  list-style: none;
}
.contenedor .t_confi .dt_confi ul li {
  text-decoration: none;
  margin-top: 20px;
}

.contenedor .t_confi .dt_confi ul li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.contenedor .t_confi .dt_confi .select {
  font-size: 20px;
  text-decoration: underline;
  font-weight: bold;
}

.c_detallescuenta {
  width: 60%;
  float: right;
}
.c_detallescuenta .detalle {
  width: 70%;
  padding-left: 15%;
  padding-right: 15%;
  text-align: center;
}
.c_detallescuenta .detalle .form_envio input {
  width: 90%;
  height: 35px;
  margin-top: 20px;
  border-radius: 10px;
}
.c_detallescuenta .detalle .form_envio select {
  width: 90%;
  height: 35px;
  margin-top: 20px;
  border-radius: 10px;
}
.c_detallescuenta .detalle h3 {
  font-size: 25px;
  padding: 1.5%;
}
.c_detallescuenta .dc_botones {
  width: 70%;
  padding-left: 15%;
  padding-right: 15%;
}
.c_detallescuenta .dc_botones .btn1 {
  text-align: right;
}
.c_detallescuenta .dc_botones .btn1 a {
  background-color: rgb(152, 152, 152);
  color: rgb(255, 255, 255);
  text-decoration: none;
  line-height: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 10px;
}
.c_detallescuenta .dc_botones .btn2 {
  text-align: center;
}
.c_detallescuenta .dc_botones .btn2 a {
  text-decoration: none;
  color: #ffffff;
}
.c_detallescuenta .dc_botones .btn2 button {
  background-color: rgb(0, 0, 0);
  font-size: 20px;
  line-height: 40px;
  padding: 10px 140px;
  border-radius: 10px;
  cursor: pointer;
  color: #ffffff;
}
/*RESPONSIVE*/
@media screen and (max-width: 360px) {
  .contenedor .contenedor2 {
    width: 95%;
    padding: 2.5%;
  }
  .contenedor .t_confi {
    width: 100%;
  }
  .contenedor .t_confi .dt_confi {
    width: 100%;
    padding: 0;
    text-align: center;
  }
  .contenedor .t_confi .dt_confi ul li {
    width: 50%;
    float: left;
  }
  .contenedor .t_confi .dt_confi ul li a {
    font-size: 15px;
  }
  .contenedor .t_confi .dt_confi .select {
    font-size: 15px;
  }
  .contenedor .c_detallescuenta {
    width: 100%;
    padding: 0;
  }
  .contenedor .c_detallescuenta .detalle {
    width: 100%;
    padding: 5% 0;
  }
  .contenedor .c_detallescuenta .dc_botones {
    width: 100%;
    padding: 0;
  }
  .c_detallescuenta .dc_botones .btn2 button {
    padding: 10px 80px;
  }
}
